# Ignore out and .idea directories inside any Day - * folders
**/day*/out/
**/day*/.idea/
**/day*/.classpath
**/day*/.project
**/day*/.settings/
**/day*/bin/
**/projects/.classpath
**/projects/.project
**/projects/.settings/
**/projects/bin/

.idea
/.metadata/
